<div class="container">
        <div class="row">
          <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">About-us</li>
          </ul>
        </div> <!-- endRow -->

        <div id="cd-about-us" class="row">
          <h1 class="text-center">The Maersk Group</h1>
          <img class="img-responsive" src="http://www.maersk.com/~/media/the%20maersk%20group/about-us/core-page-elements/20160923/maersk-energy-01.png" alt="">
          <br>
          <h4>The world’s leading container shipping company and a customer-focused leader in reliable, eco-efficient transport</h4>
          <p>
            A.P. Moller - Maersk is an integrated transport &amp; logistics company with multiple brands and is a global leader in container shipping and ports. Including a stand-alone Energy division, the company employs roughly 88.000 employees across operations in 130 countries.
          </p>

          <hr>
          
          <h2 class="text-center">Transport &amp; Logistics</h2>
          <p>
            Transport &amp; Logistics consists of Maersk Line, APM Terminals, Damco, Svitzer and Maersk Container Industry. The mission of these businesses is to enable and facilitate global supply chains and provide opportunities for our customers to trade globally. Søren Skou, the Group CEO of A.P. Møller - Mærsk A/S is also the CEO of the Transport &amp; Logistics division.
          </p>
          

          <div class="row text-center">            
            <div class="col-lg-4">
              <img class="img" src="http://www.maersk.com/~/media/the%20maersk%20group/about-us/core-page-elements/20160923/apmt-01-1-no-star.png" alt="Generic placeholder image">
              <h2>APM Terminals</h2>
              <p>APM Terminals provides port and inland infrastructure to drive global commerce. It is currently active in 73 ports and terminals in 36 countries with six new terminal development projects and 11 expansion programs now underway, along with 154 Inland Services locations in 46 countries.</p>
              <p><a class="btn btn-primary" href="http://www.apmterminals.com/" role="button">View Apmterminals.com »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img" src="http://www.maersk.com/~/media/the%20maersk%20group/about-us/core-page-elements/20160923/maersk-line-03.png" alt="Generic placeholder image">
              <h2>Damco</h2>
              <p>Damco is a world leading provider of freight forwarding and supply chain management services. Damco's focus is on simplifying complex supply chains, uncovering efficiency improvements that enable their customers to cut their inventories, reducing operating costs, and making significant short-term savings for long-term competitiveness.</p>
              <p><a class="btn btn-primary" href="http://www.damco.com/" role="button">Visit Damco.com »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img" src="http://www.maersk.com/~/media/the%20maersk%20group/about-us/core-page-elements/20160923/svitzer-01-1.png" alt="Generic placeholder image">
              <h2>Svitzer</h2>
              <p>Since 1833, Svitzer has provided safety and support at sea. With a fleet of more than 500 vessels and operations all over the world, Svitzer is the global market leader within towage and emergency response.</p>
              <p><a class="btn btn-primary" href="http://svitzer.com/" role="button">View Svitzer.com »</a></p>
            </div><!-- /.col-lg-4 -->
          </div>
        </div>

      </div>